[Unit]
Description=Set battery charge thresholds TODO : this needs to be removed in Gnome 48
After=multi-user.target
StartLimitBurst=0

[Service]
Type=oneshot
Restart=on-failure
RemainAfterExit=yes
ExecStart=/bin/bash -c 'echo 78 > /sys/class/power_supply/BAT0/charge_control_start_threshold; echo 85 > /sys/class/power_supply/BAT0/charge_control_end_threshold'
ExecStop=/bin/bash -c 'echo 100 > /sys/class/power_supply/BAT0/charge_control_end_threshold; echo 99 > /sys/class/power_supply/BAT0/charge_control_start_threshold'

[Install]
WantedBy=multi-user.target